body {
	background-color: gray;
	font-family: "Helvetica";
}

#itunes {
	height: 300px;

	border-radius: 4px;
	/* background: */
	background: #FEFEFE;
	border: 1px solid #C1C1C1;
	-moz-box-shadow:    0px 40px 40px 0px rgba(0,0,0,0.20), 0px 10px 30px 0px rgba(25,25,25,0.50);
	box-shadow:         0px 40px 40px 0px rgba(0,0,0,0.20), 0px 10px 30px 0px rgba(25,25,25,0.50);

	margin: 100px;	
}

header {
	height: 46px;
	position: relative;

	/* header background: */
	background-image: -o-linear-gradient(-89deg, #ECECEC 0%, #C7C7C7 100%);
	background-image: -moz-linear-gradient(-89deg, #ECECEC 0%, #C7C7C7 100%);
	background-image: -ms-linear-gradient(-89deg, #ECECEC 0%, #C7C7C7 100%);
	background-image: linear-gradient(-179deg, #ECECEC 0%, #C7C7C7 100%);
	border: 1px solid #AEAEAE;
}

#central {
	/*width: 70%;*/
	height: 45px;
	/*margin: 0 auto;*/

	position: absolute;
	left: 20%;
	right: 20%;

	/* central: */
	background-image: -o-linear-gradient(-89deg, #F9F9F9 0%, #E5E5E5 100%);
	background-image: -moz-linear-gradient(-89deg, #F9F9F9 0%, #E5E5E5 100%);
	background-image: -ms-linear-gradient(-89deg, #F9F9F9 0%, #E5E5E5 100%);
	background-image: linear-gradient(-179deg, #F9F9F9 0%, #E5E5E5 100%);
	border: 1px solid #C0C0C0;
}

#main-nav {
	border-bottom: 1px solid #C0C0C0;
	text-align: center;
}

#main-nav li {
	display: inline-block;
	margin:5px 11px;
}

#main-nav ul {
	margin: 0;
	padding: 0;
} 

#main-nav a {
	color: #000;
	text-decoration: none;
}

.selected, a:hover {
	background-color: #D1E4F8;
	padding: 3px 14px;
	border-radius: 4px;
}

#main-nav .selected a {
	color: #2366B1;
}